.dashboard-page {
  background-color: #f4f7fe;
  padding: 20px;
  width: 80vw;
  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
  }
}
