$font-color-primary: #0e0e2c;
$font-color-secondary: #8c8ca1;
$color-ins-40: #d8d8fd;
$color-ins-60: #a5a6f6;
$color-ins-80: #7879f1;
$color-fuschia-100: #ef5da8;
$color-fuschia-80: #f178b6;
$color-fuschia-60: #fcddec;
$color-fuschia-40: #fff2f8;
$color-evergreen-100: #3ccfaa;
$color-evergreen-80: #4ed4b3;
$color-evergreen-60: #84edd3;
$color-evergreen-20: #d5faf1;
$color-yellow-100: #ffd235;
$color-yellow-80: #ffdc62;
$color-yellow-60: #fae7a5;
$color-yellow-20: #fff5d3;
$color-peach-100: #f9ecec;
$color-peach-60: #fae9ea;
